{% extends '_layout.html' %}

{% block title %}Movie Rating App | All Movies{% endblock %}

{% block body %}
{%if movies:%}
<h1 class="mb-5">All Movies</h1>
<p class="mb-3">See our list of movie ratings below</p>
<!-- Table of all movies -->
<table class="table">
    <!--Header row-->
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Director</th>
        <th scope="col">Rating</th>
        <th scope="col"></th>
    </tr>
    <!--individual movie rows-->
    {%for movie_id, movie in movies.items():%}
    <tr>
        <td>{{movie.title}}</td>
        <td>{{movie.director}}</td>
        <td>{{movie.rating}}</td>
        
        <td><form action = "/movies/{{ movie_id }}/delete" method="POST"><button type = "submit" class = "btn btn-primary">Delete</button></form></td>
    </tr>
    {%endfor%}
</table>
{%else%}
<!--There are no movies in the table-->
<h1>There currently no movies.</h1>
{%endif%}
{% endblock %}

